.banner {
    height: 767px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    z-index: -1;
    padding-top: 323px;
    &.custom-indent{
        padding-top: 387px;
        height: 613px;
        h2{
            font-size: 85px;
        }
    }
    .logo-large {
        position: absolute;
        left: -300px;
        bottom: -150px;
    }
    .container {
        text-align: right;
    }
    h2 {
        font-size: 108px;
        font-weight: 400;
        letter-spacing: -1.5px;
        margin-bottom: -7px;
    }
    .slogan {
        font-size: 37px;
        color: $white;
        font-weight: 400;
        letter-spacing: 3px;
        line-height: 1.3;
      
       
    }
    .mark {
        letter-spacing:3px;
        font-size: 48px;
        font-weight: normal;
        line-height: 1;
        display: block; 
        margin-top: -5px;   
    }
}

.circle-part {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 900;
}
