.container{
	max-width: 960px;
	padding: 10px 0;
	margin:0 auto;
}
#wrapper{
	position: relative;
	overflow: hidden;
}
.circle-holder{
	background-image: url(../images/circle-large.png);
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#content{
	padding-top: 100px;
}