#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-top {
    background: rgba($scarlet-light, .8);
    padding: 34px;
}
.header-bott{
	background-color: rgba($white, 0.4);
	padding: 20px;
}
.logo {
    width: 82px;
    margin: 0 auto;
    img {
        width: 100%;
        height: auto;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {}
}
