// Typography
$headings-font-family: $base-font-serif;
$headings-color: inherit !default;
.typography-block {
    margin-top: 30px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    font-family: $headings-font-family;
    margin: 0 0 10px;
    color: $headings-color;
}

h1,
.h1 {
    font-size: $h1-font-size;
    color: $white;
    font-family: $serif-secondary;
}

h2,
.h2 {
    @extend .h1;
}

h3,
.h3 {
    font-size: $h3-font-size;
    font-weight: normal;
   
}

h4,
.h4 {
    font-size: $h4-font-size;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 38px;
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

p {
    margin: 0 0 1em;
}

a {
    @include animate(color);
    color: $base-link-color;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $scarlet;
    }
}

.small-h1 {
    @extend .h1;
    font-size: 18px;
    letter-spacing: 8px;
}

.small-h2 {
    @extend .h2;
    font-size: 15px !important;
    line-height: 1.65;
    font-weight: 400;
    margin-bottom: 7px;
}
